<div class="item" data-item-id="<%= item.id -%>">
  <span class="item-checkbox">
    <%= check_box_tag "item[completed]", "1", item.completed?, disabled: true %>
  </span>

  <%= link_to item.name, items_path(item) %>

  <% if item.descendants.present? %>
    (<%= item.descendants.completed.count %>/<%= item.descendants.count %>)
  <% end %>

  <small class="right">
    <%= link_to "Edit", edit_item_path(item) %> &middot;
    <%= link_to "Delete", item, method: :delete, data: { confirm: "Are you sure?" } %>
  </small>
</div>
