<div class="item" data-item-id="<%= item.id -%>">
  <span class="item-checkbox left">
    <% if item.descendants.present? %>
      <% if item.descendants.all?(&:completed?) %>
        <i class="item-checkbox-disabled unclickable fa fa-fw fa-check-square-o"></i>
      <% else %>
        <i class="item-checkbox-disabled unclickable fa fa-fw fa-square-o"></i>
      <% end %>
    <% else %>
      <%= link_to check_item_path(item), method: :patch do %>
        <% if item.completed? %>
          <i class="item-checkbox-checked clickable fa fa-fw fa-check-square-o"></i>
        <% else %>
          <i class="item-checkbox-active clickable fa fa-fw fa-square-o"></i>
        <% end %>
      <% end %>
    <% end %>
  </span>

  <small class="item-controls right">
    <%= link_to edit_item_path(item), class: "no-underline" do %>
      <i class="fa fa-fw fa-pencil"></i>
    <% end %>

    <%= link_to item_path(item),
                method: :delete,
                class: "no-underline",
                data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-fw fa-trash"></i>
    <% end %>
  </small>

  <div class="item-name <%= 'strikethrough' if item.completed? -%>">
    <%= link_to item.name, items_path(item), class: "medium-weight underline-on-hover" %>

    <% if item.descendants.present? %>
      <% total = item.descendants.count %>
      <% completed = item.descendants.completed.count %>
      <div class="item-progress" style="width: <%= total * 5 -%>%">
        <div class="item-progress-bar" style="width: <%= (completed / total.to_f) * 100 %>%"></div>
      </div>
    <% end %>
  </div>
</div>
