<div id="item-<%= item.id || "new-template" -%>"
     class="item <%= "hide" if item.new_record? -%>"
     data-href="<%= items_path(item) -%>"
     data-state="default"
     data-hashid="<%= item.hashid -%>">
  <div class="item-checkbox left <%= item.new_record? ? "disabled" : "pointer" -%>">
    <i class="fa fa-fw fa-square-o"></i>
  </div>

  <div class="item-controls right">
    <span class="item-control item-drag-control no-underline <%= item.new_record? ? "disabled" : "pointer" -%>">
      <i class="fa fa-fw fa-arrows"></i>
    </span>

    <span class="item-control item-edit-control no-underline pointer">
      <i class="fa fa-fw fa-pencil"></i>
    </span>

    <span class="item-delete-control item-control no-underline <%= item.new_record? ? "disabled" : "pointer" -%>">
      <i class="fa fa-fw fa-trash"></i>
    </span>
  </div>

  <div class="item-content">
    <%= form_for item, html: { class: "item-form", id: nil } do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :parent_id %>

      <div class="item-name">
        <%= item.name %>
      </div>

      <div class="item-buttons hide">
        <button type="submit" class="button button-small button-primary">
          <%= item.new_record? ? "Create" : "Save" %>
        </button>
        <a href="#" class="button button-small button-link item-edit-cancel-control">Cancel</a>
      </div>
    <% end %>

    <%= progress_bar item %>
  </div>

  <% if item.persisted? %>
    <div class="item-delete-confirmation full-bleed absolute hide">
      <div class="item-delete-confirmation-buttons align-right">
        <span class="item-delete-cancel-control
                     button button-small button-link">Cancel</span>
        <span class="item-delete-confirm-control
                     button button-small button-danger">Delete</span>
      </div>
    </div>
  <% end %>
</div>
