<div id="item-<%= item.id -%>"
     class="item <%= "item-clearable" if item.completed? || item.descendants.completed.count > 0 -%>"
     data-item-id="<%= item.id -%>"
     data-item-completed="<%= item.completed? -%>"
     data-item-descendants-count="<%= item.descendants.not_cleared.count -%>"
     data-item-descendants-completed-count="<%= item.descendants.not_cleared.completed.count -%>">
  <div class="item-checkbox left">
    <% if item.descendants.not_cleared.present? %>
      <% if item.completed? %>
        <i class="item-checkbox-disabled unclickable fa fa-fw fa-check-square-o"></i>
      <% else %>
        <i class="item-checkbox-disabled unclickable fa fa-fw fa-square-o"></i>
      <% end %>
    <% else %>
      <%= link_to complete_item_path(item), method: :patch do %>
        <% if item.completed? %>
          <i class="item-checkbox-checked clickable fa fa-fw fa-check-square-o"></i>
        <% else %>
          <i class="item-checkbox-active clickable fa fa-fw fa-square-o"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="item-controls right">
    <%= link_to edit_item_path(item), class: "no-underline" do %>
      <i class="fa fa-fw fa-pencil"></i>
    <% end %>

    <%= link_to item_path(item),
                method: :delete,
                class: "no-underline",
                data: { confirm: "Are you sure you want to delete this item?" } do %>
      <i class="fa fa-fw fa-trash"></i>
    <% end %>
  </div>

  <%= link_to items_path(item), class: "item-content underline-on-hover" do %>
    <div class="item-name <%= "strikethrough" if item.completed? -%>">
      <%= item.name %>
    </div>

    <% if item.descendants.not_cleared.present? %>
      <% total = item.descendants.not_cleared.count %>
      <% completed = item.descendants.completed.not_cleared.count %>
      <div class="item-progress"
           data-cleared-width="<%= progress_bar_width total - completed -%>%"
           style="width: <%= progress_bar_width total -%>%">
        <div class="item-progress-bar"
             style="width: <%= ((completed / total.to_f) * 100).round %>%">
        </div>
      </div>
    <% end %>
  <% end %>
</div>
