<p id="notice"><%= notice %></p>

<% if @parent.present? %>
  <nav>
    <i class="fa fa-level-up fa-flip-horizontal"></i>
    <%= link_to @parent.parent.try(:name) || "Items", items_path(@parent.parent), class: "underline" %>
  </nav>
<% end %>

<h1><%= @parent.try(:name) || "Items" %></h1>

<% if @items.present? %>
  <%= render @items %>
<% else %>
  <p>
    No items.
  </p>
<% end %>

<p>
  <%= link_to 'Add item...', new_item_path(item: { parent_id: @parent.try(:id) }), class: "button button-primary" %>
</p>
