<p id="notice"><%= notice %></p>

<h1><%= @parent.try(:name) || "Items" %></h1>

<% if @items.present? %>
  <%= render @items %>
<% else %>
  <p>
    Create an item&hellip;
  </p>
<% end %>

<br>

<% if @parent.present? %>
  <%= link_to "Back", items_path(@parent.parent) %> |
<% end %>

<%= link_to 'New Item', new_item_path(item: { parent_id: @parent.try(:id) }) %>
