<% content_for :header do %>
  <%= render "ancestors" %>
<% end %>

<% if @items.present? %>
  <div class="items">
    <%= render @items %>
  </div>
<% end %>

<div class="no-items align-center <%= "hidden" if @items.present? %>"
     style="margin: 1.5em 0 5em; font-size: .75em; color: rgba(0, 0, 0, 0.35);">
  Nothing to do here.
</div>

<% if @archived_items_by_completed_date.present? %>
  <div class="archived-items">
    <div class="archived-items-heading">
      History
    </div>

    <% @archived_items_by_completed_date.each do |date, items| %>
      <div class="archived-items-date-heading">
        <%= date.strftime("%A, %B %e") %>
      </div>

      <%= render partial: "archived_item", collection: items, as: :item %>
    <% end %>
  </div>
<% end %>

<div class="control-bar">
  <div class="control-bar-content">
    <% path = new_item_path(item: { parent_id: @parent.try(:id) }) %>
    <%= link_to path, class: "button button-primary new-item-button" do %>
      Add item
    <% end %>

    <% path = cleanup_items_path(id: @parent.try(:id)) %>
    <% classes = "button cleanup-button" %>
    <% classes = "#{classes} button-disabled" if @items.none?(&:completed?) %>
    <%= link_to "Cleanup", path, class: classes %>

    <div class="right">
      <% if current_user.present? %>
        <%= current_user.name %> &middot;
        <%= link_to 'Log out', sessions_path, method: :delete, class: "underline", data: { 'no-turbolinks' => true } %>
      <% else %>
        <a href="/auth/google_oauth2" data-no-turbolinks class="underline">Log in</a>
      <% end %>
    </div>
  </div>
</div>
