<% content_for :header do %>
  <div class="breadcrumbs">
    <% @breadcrumbs.each_with_index do |breadcrumb, i| %>
      <div class="breadcrumb"
           style="background-color: rgba(0, 0, 0, <%= ((@breadcrumbs.length - 1) * 0.05) - (i * 0.05) %>);
                  border-color: rgba(0, 0, 0, <%= ((@breadcrumbs.length - 1) * 0.02) - (i * 0.02) %>)">
        <%= link_to_unless_current breadcrumb[0], breadcrumb[1], {
          class: "block underline-on-hover"
        } %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @items.present? %>
  <div class="items">
    <%= render @items %>
  </div>
<% end %>

<div class="no-items align-center <%= "hidden" if @items.present? %>"
     style="background-color: rgba(0, 0, 0, 0.04); padding: 1em;
            border-radius: 1em;">
  <div style="font-size: 2em; margin-top: .2em;">🤗</div>

  <p style="font-size: .8em;">
    Nothing to do here!
  </p>
</div>

<% if @archived_items_by_completed_date.present? %>
  <div class="archived-items">
    <div class="archived-items-heading">
      History
    </div>

    <% @archived_items_by_completed_date.each do |date, items| %>
      <div class="archived-items-date-heading">
        <%= date.strftime("%A, %B %e") %>
      </div>

      <%= render partial: "archived_item", collection: items, as: :item %>
    <% end %>
  </div>
<% end %>

<div class="control-bar">
  <div class="control-bar-content">
    <% path = new_item_path(item: { parent_id: @parent.try(:id) }) %>
    <%= link_to path, class: "button button-primary new-item-button" do %>
      Add item
    <% end %>

    <% path = cleanup_items_path(id: @parent.try(:id)) %>
    <% classes = "button cleanup-button" %>
    <% classes = "#{classes} button-disabled" if @items.none?(&:completed?) %>
    <%= link_to "Cleanup", path, class: classes %>

    <div class="right">
      <% if current_user.present? %>
        <%= current_user.name %> &middot;
        <%= link_to 'Log out', sessions_path, method: :delete, class: "underline", data: { 'no-turbolinks' => true } %>
      <% else %>
        <a href="/auth/google_oauth2" data-no-turbolinks class="underline">Log in</a>
      <% end %>
    </div>
  </div>
</div>
