<% content_for :header do %>
  <%= render "ancestors" %>
<% end %>

<div class="items">
  <% if @items.present? %>
    <%= render @items %>
  <% end %>

  <%= render current_user.items.build(parent: @parent) %>
</div>

<% if @parent.present? %>
  <div class="no-items no-items-drop-target">
  </div>
<% end %>

<div class="no-items no-items-bootstrap align-center hide">
  <p>
    Get started by adding an item&hellip;
  </p>

  <div>
    <a href="#" class="button button-primary button-large new-item-button">
      Add item
    </a>
  </div>

  <div style="font-size: 0.8em; margin-top: .8em;">
    Or,
    <%= link_to "add example items", bootstrap_path, {
      class: "underline color-dark-green",
      method: :post
    } %>.
  </div>
</div>

<div class="control-bar-container <%= "hide" if @parent.nil? && @items.blank? -%>">
  <div class="control-bar">
    <div class="control-bar-content">
      <a href="#" class="button button-primary new-item-button">
        Add item
      </a>
    </div>
  </div>
</div>

<div class="completed-items">
  <script>While.history.load()</script>
</div>
