<% content_for :header do %>
  <%= render "ancestors" %>
<% end %>

<% if @items.present? %>
  <div class="items">
    <%= render @items %>
  </div>
<% end %>

<div class="no-items align-center <%= "hide" if @items.present? %>"
     style="margin: 1.5em 0 5em; font-size: .75em; color: rgba(0, 0, 0, 0.35);">
  Nothing to do here.
</div>

<div class="control-bar-container">
  <div class="control-bar">
    <div class="control-bar-content">
      <% path = new_item_path(item: { parent_id: @parent.try(:id) }) %>
      <%= link_to path, class: "button button-icon button-primary new-item-button" do %>
        <i class="fa fa-fw fa-plus"></i>
      <% end %>

      <% path = cleanup_items_path(@parent) %>
      <% classes = "button button-icon cleanup-button" %>
      <% classes = "#{classes} button-disabled" if @items.none?(&:completed?) %>
      <%= link_to path, class: classes do %>
        <i class="fa fa-fw fa-magic"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="archived-items hide">
  <div class="archived-items-heading">
    History
  </div>

  <div class="archived-items-content">
    <script>While.history.load(location.pathname)</script>
  </div>
</div>
