<!DOCTYPE html>
<html>
  <head>
    <title><%= @parent.try(:name) || "While" -%></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="<%= asset_path "logo.png" -%>">
    <link rel="apple-touch-startup-image" href="<%= asset_path "startup.png" -%>">
    <link rel="icon" type="image/png" href="<%= asset_path "logo.png" -%>">
  </head>

  <%= body_tag do %>
    <header>
      <%= yield :header %>
    </header>

    <main>
      <% [:notice, :alert].each do |notification_type| %>
        <% if flash[notification_type].present? %>
          <div class="notification notification-<%= notification_type -%>">
            <%= flash[notification_type] %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
  <% end %>
</html>
