<!DOCTYPE html>
<html>
  <head>
    <title>While</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user.present? %>
        <%= current_user.name %> &middot;
        <%= link_to 'Log out', sessions_path, method: :delete, data: { 'no-turbolinks' => true } %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
