<!DOCTYPE html>
<html>
  <head>
    <title>While</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="<%= asset_path "logo.png" -%>">
    <link rel="icon" type="image/png" href="<%= asset_path "logo.png" -%>">
  </head>

  <body>
    <header>
      <div class="brand inline">
        <strong>While</strong>
      </div>

      <nav class="inline right">
        <% if current_user.present? %>
          <%= current_user.name %>

          (<span class="cleared-items-count inline-block"
                 data-clearable-items-count="<%= @clearable_items_count -%>"><%= current_user.items.cleared.count -%></span>)
          &middot;
          <%= link_to 'Log out', sessions_path, method: :delete, class: "underline", data: { 'no-turbolinks' => true } %>
        <% else %>
          <a href="/auth/google_oauth2" data-no-turbolinks class="underline">Log in</a>
        <% end %>
      </nav>
    </header>

    <main>
      <% [:notice, :alert].each do |notification_type| %>
        <% if flash[notification_type].present? %>
          <div class="notification notification-<%= notification_type -%>">
            <%= flash[notification_type] %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
